.position-relative {
    position: relative;
    display: inline-block;
  }
  
  .active-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid white;
  }
  